<div class="heading">	
	<h1>KAB Request <span>- (new)</span></h1>
</div>
<div id="content">	
<div class="left-content">
	<%= render 'form' %>
	
	<div class="group-link" id="cancel-new"><%= link_to 'Cancel', posts_path %></div>
	<div class="clear"></div>
	</div>
</div>